.container {
    border: 1px dashed gray;
    padding: 1rem;

    > h2 {
        margin-top: 0;
    }
}

.size_1 {
    width: calc(25% - 3rem + 2px);
}

.size_2 {
    width: calc(50% - 3rem + 6px);
}

.size_3 {
    width: calc(75% - 3rem + 10px);
}

.size_4 {
    width: calc(100% - 3rem + 14px);
}